*{
    margin: 0%;
    padding: 0%;
}
.hardwareContainer{
    height:100vh;
    width:100vw;
    background: linear-gradient(to top right,rgba(0, 0, 0, 0.5),rgba(255, 254, 254, 0.1)) ,url('../Images/Hardwarebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hardwareContainer h1{
    color: white;
    font-size: 20mm;
    text-align: center;
    position: absolute;
    bottom:50%;
    left:30%;
}