*{  
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
:root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .1rem 1rem rgba(0,0,0.1) ;
    --border: 2rem solid rgba(0,0,0.1) ;
    --outline: .1rem solid rgba(0,0,0.1) ;
}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
    /*scroll-padding-top:7rem ;*/
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo h3{
    font-family:zapfino;
    font-size: 3.5rem;
    font-weight:bolder;
    color: rgb(13, 1, 119);
    display: flex;
}
.header .logo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .logo p{
    font-weight:lighter;
    font-size: small;
    color: black;
}
.header .logo img{
    height:11vh;
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
    transition: 0s;
}
.header .navbar a:hover{
    border-bottom: 3px solid  rgb(2, 116, 145);
}
.header .icons{
    display: flex;
}
.header .icons div{
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size:2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover{
    background-color: rgb(2, 116, 145);
    color: #fff;
}
.fa-bars{
    display: none;
}
.header .search-form{
    position: absolute;
    top:110%;
    right:-110%;
    width:50rem;
    height:5rem;
    background: #fff;
    border-radius:.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color:  rgb(0, 4, 255);
}